/* AgentTable.module.css */

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    padding-left: 20px;  /* Adjust this value as needed */
    padding-right: 20px; /* Adjust this value as needed */
    font-size: 16px;
  }
  
  .table th, .table td {
    border: 1px solid #e1e4e8;
    padding: 10px 15px;
    text-align: left;
  }
  
  .table th {
    background-color: #474747;
    color: white;
    font-weight: bold;
  }
  
  .table tbody tr:hover {
    background-color: #f6f8fa;
  }
  tr {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
    box-shadow: none;
  }
  
  tr:hover {
    transform: scale(1.02); /* slightly scale up */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* shadow effect */
  }
  
